DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
PORT="3000"
NODE_ENV="development"
FRONTEND_URL="*"
JWT_SECRET="4695a44b8736928716b891f986914084965eb4bc77dbf0a9953838a576d05e5a"
JWT_EXPIRES_IN="7d"
